{% extends "base.html" %}

<!-- 页面顶部公告（打字机效果） -->
{% block announce %}
{{ super() }}

<p><span class="text"></span></p>

{% endblock %}

{% block content %}

{% if config.theme.language == "zh" %}
    <a href="javascript:void(window.print());" class="md-content__button md-icon" title="下载此页">
        {% include ".icons/material/file-download.svg" %}
    </a>
{% else %}
    <a href="javascript:void(window.print());" class="md-content__button md-icon" title="Download this page">
        {% include ".icons/material/file-download.svg" %}
    </a>
{% endif %}

{{ super() }}
{% endblock content %}